<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Todo List</title>
</head>
<body>

    <div id="app">
        <!-- container -->
        <div class="container">
            <!-- header -->
            <header id="site_header">
                <img src="https://hiringplatform.boolean.careers/images/logo.png" alt="">
            </header>
            <!-- form -->
            <div>
                <input type="text" placeholder="Add a task here" v-model="newTask"  @keyup.enter="addTask">
                <button @click="addTask">Add</button>
            </div>
            <!-- section-To-do -->
            <section v-if="tasks.length > 0">
                <div class="task" v-for="(task, index) in tasks">

                    <div class="text" :class="task.done === true ? 'done' : ''" @click="changeDone(index)">
                    {{task.text}}
                    </div>
                    
                    <div class="cancel" @click="removeTask(index)">
                        <i class="fa-solid fa-times-circle"></i>
                    </div>
                </div>
            </section>

            <div class="nothingToDo" v-else>
                <h3>Niente da fare per oggi! 😍</h3> 
           </div>
        </div>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script> 
    <script src="./app.js"></script>
</body>
</html>