*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d4f1cf;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

#site_header img {
    max-width: 300px;
    margin-bottom: 2rem;
}

.container{
    width: 700px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

section{
    width: 60%;
    height: 100%;
    margin-top: 2rem;
    background-color: #F5F7F7;    
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 4px 3px 12px 1px black;
}

 input,
 button {
  padding: 10px 20px;
  border: 1px solid purple;
  border-radius: 10px;
  margin: 8px;
  box-shadow: 4px 3px 12px darkgreen;
  font-weight: 600;
}

input{
    width: 250px;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border-bottom: 1px solid #DADEE1; 
}


.done {
    text-decoration: line-through;
  }


  p{
      background-color: rgb(135, 232, 135);
      padding: 4px 20px;
      border-radius: 5px;
      margin-top: 2rem;
  }